body{
	background-image: url(http://www.modafinilsale.com/data/out/663/235663150-beach-1920x1080-hd-wallpaper.jpg);
	font-family: sans-serif;
}

.heading{
	text-align: center;
	padding-bottom: 10px;
}

.sign{
	height: 650px;
	width: 300px;
	color: #000000;
	background-color: #ffffcc;
	top: 53%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	opacity: 0.8;
	padding: 40px 20px;	
}

h2{
	text-align: center;
	padding-bottom: 20px;
}

.sign input[type="text"],input[type="password"]{
	width: 100%;
	margin: 0px;
	border: none;
	border-bottom: 1px solid #cc00ff;
	height: 30px;
	background-color: #ffffcc;
}

.sign input[type="submit"]{
	width: 50%;
	margin-left: 25%;
	background-color: #cc00ff;
	color: #FFFFFF;
	height: 36px;
	border: none;
	outline: none;
	border-radius: 18px;
	font-size: 18px;
}

.sign input[type="submit"]:hover{
	background-color: #331a00;
	color: #FFFFFF;
	cursor: pointer;
}

.sign p{
	font-size: 20px;
	font-weight: bold;
}

.link{
	color: #000000;
	margin-left: 15%;
}

.link:hover{
	color: #FF0000;
}
